config instance 'main'
	option enabled '1'
	option listen_addr '0.0.0.0'
	option listen_port '8888'
	option peek_size '512'
	option prefer_zero_copy '1'
	option prefer_kernel_dnat '1'
	option metrics_enable '1'
	option metrics_port '9100'

config route 'web'
	option instance 'main'
	option name 'web'
	option detector 'http_or_tls'
	option host '127.0.0.1'
	option port '443'
	option proxy_protocol '0'
	option http_forward '1'
	option x_real_ip '1'
	option x_forwarded_for '1'
	option x_forwarded_proto '1'
	option x_forwarded_port '1'
	option forwarded '0'
	list headers 'X-Forwarded-Host: example.org'

config route 'ssh'
	option instance 'main'
	option name 'ssh'
	option detector 'ssh_banner'
	option host '127.0.0.1'
	option port '22'
	option proxy_protocol '1'

config fallback 'default'
	option instance 'main'
	option host '127.0.0.1'
	option port '22'
	option proxy_protocol '0'
